<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="INTEGRACION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <INTEGRACION.My.MySettings>
      <setting name="mayuscula" serializeAs="String">
        <value>Upper</value>
      </setting>
      <setting name="INTEGRACION_pe_com_claro_services_SWPush" serializeAs="String">
        <value>https://services.claro.com.pe:443/SWPush/SWPush</value>
      </setting>
    </INTEGRACION.My.MySettings>
  </applicationSettings>
  <appSettings>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR_ADONET" value="System.Data.OracleClient" />
    <!-- La cadena de conexion -->
    <!--<add key="CADENA_CONEXION" value="data source=Tepsa;user id=titan;password=titan;" />-->
    <add key="CADENA_CONEXION" value="data source=tepsa;user id=titan;password=titan;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITepsafeservice1" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxReceivedMessageSize="65536999">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ITepsafeservice" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxReceivedMessageSize="65536999">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ITepsafeservice2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59155/Tepsafeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITepsafeservice"
        contract="feserviceDesarrollo.ITepsafeservice" name="BasicHttpBinding_ITepsafeservice" />
      <endpoint address="http://192.168.200.80:8085/Tepsafeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITepsafeservice1"
        contract="servicefe.ITepsafeservice" name="BasicHttpBinding_ITepsafeservice1" />
    </client>
  </system.serviceModel>
</configuration>